extends layout.jade

block content
    table.u-full-width
        thead
            tr
                th Name
                th Email
                th Avatar
        tbody
        each item in accounts
            tr
                td(width="70%")
                     img(src=item.icon_url, width="50")
                td= item.email
                td 
                    a(href='/account/view/' + item._id)
                        = item.username
