extends layout.jade

block content
    each item in contexts
        div.row
            div.eight.columns               
                a(href='/context/view/' + item.id)
                    = item.title