extends layout.jade

block content
    each organization in organizations
        h3= organization
        each item in contexts
            if(organization == item.site.description)
                div.row
                    div.eight.columns               
                        a(href='/context/view/' + item._id)
                            = item.title