extends layout.jade

block content
    each items, description in contexts
        div.row
            div.eight.columns               
                h4= description
                each item in items
                  a(href='/context/view/' + item.id)
                      = item.title
                  <br>
