extends layout

block content
    h1= note.content
    each m in note.medias
        - // compute a url to an automatically resized image (by Cloudinary)
        - var url = m.link.replace('upload/','upload/w_500,c_fit/')
        img(src=url, width="500")

    each f in note.feedbacks
        div.row 
            div.four.columns
               img(src=f.account.icon_url, width="50")
        div.row    
            div.two.columns            
                a(href='/account/view/' + f.account.id)
                    = f.account.username + ' :'
        div.row
            div.six.columns
            div.four.columns
                = f.content
